# Virtual environments
#venv/
#.venv/

# Python cache
#__pycache__/
#*.pyc

# Output files
#outputs/*.json

# Environment variables (VERY IMPORTANT)
#.env

# Chroma database
#database/chroma_db/

# OS files
#.DS_Store
#Thumbs.db

# VS Code settings (optional)
#.vscode/



# venv/
# .venv/
# __pycache__/
# *.pyc
# outputs/*.json

.env
__pycache__/
*.pyc
venv/
.venv/
database/chroma_db/
papers/
temp_papers/
install_log.txt
.pytest_cache/